<body class="all">
    <header>
    
    </header>

    <div class="navbar">
      <div class="logo">
        <h1><a routerLink="/">NETFLIX v2.0</a></h1>
      </div>
    
      <div class="nav__links">
        <li><a role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/" class="nav__link" >Home</a></li>
        <li><a role="presentation" routerLinkActive="active" routerLink="create" class="nav__link">Adicionar</a></li>
        <li><a role="presentation" routerLinkActive="active" routerLink="details" class="nav__link">Details</a></li>
        <a href="#" class="nav__link">More</a>
      </div>
    </div>
    <div>
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div>
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
</body>
<footer>
    <div class="wrapper">
      <small>&copy;2022 <strong>NETFLIXXXXXXX</strong>, Direitos Reservados :)</small>
      <nav class="footer-nav">
        <a href="#">Termos de Uso</a>
        <a href="#">Privacidade</a>
      </nav>
    </div>
</footer>

